@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: #0F0C29;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


.biografia{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 570px;
    margin-top: 20px;
    padding: 20px;
}


.imagem img{
    width: 300px;
    height: 560px;
    padding: 10px 15px 10px 10px;
    border-radius: 30px;
}

.emblemas{
    display: flex;
}

.icones{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.bandeira{
    width: 30px;
    padding-right: 10px;
    
}

.portugal{
    display: flex;
    align-items: center;
}

.gol img{
    width: 35px;
    margin-right: 10px;
}

.premio img{
    width: 35px;
    margin-right: 5px;
}

.premios{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gols{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bio p{
    text-align: justify;
}
